.card{
    width: 90%;
    margin: 1rem auto;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    text-align: center;
    align-items: center;
}

img{
    height: 50%;
    width: 30%;
    border-radius: 5px;
    margin: 2em auto 2em auto;
}

button{
    margin-top: .5rem;
}
