<mat-card class="card">
    <mat-card-header>
      <mat-card-title>World Of Sneakers</mat-card-title>
      <mat-card-subtitle>Seu Sistema de Gerenciamento de Estoque</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/images/world-of-Sneakers-image.svg" alt="Image home">
    <mat-card-content>
      <p>
        Olá! Seja bem-vindo ao sistema World Of Sneakers desenvolvido com o objetivo de proporcionar a possibilidade do usuário gerenciar o estoque de sua loja de maneira mais fácil e descomplicada.
      </p>
      <p>
        Está página é a sua central de ajuda, contendo as importantes instruções e dicas para ajudar-lhe no uso do sistema. Na área de calçados cadastre, edite ou exclua novos calçados ou os que já estão em seu estoque, verifique na aba de funcionários quem está no sistema para realizar as consultas necessárias. 
      </p>
      <p>Para facilitar o processo, basta seguir os passos seguintes. Primeiramente, cadastre seus funcionários, insira as categorais necessárias e seus fornecedores, por fim cadastre os sneakers.</p>
    </mat-card-content>
    <mat-card-actions>

      <button mat-flat-button routerLink="/modelos" color="primary">Calçados</button>

    </mat-card-actions>
  </mat-card>