<div class="container mat-elevation-z8">
    <form class="form">
        <h1>Detalhes da Categoria</h1>
    </form>
  
    <mat-form-field class="fullWidth" appearance="fill">
        <mat-label>Id</mat-label>
        <input 
        [(ngModel)]="categorias.id"
        name="id"
        [disabled]="true"
        matInput 
        >
        <mat-icon matSuffix>border_color</mat-icon>
    </mat-form-field>

    <mat-form-field  class="fullWidth" appearance="fill">
        <mat-label>Categoria</mat-label>
        <input 
        [(ngModel)]="categorias.nome"
        name="nome"
        [disabled]="true"
        matInput 
        placeholder="Ex... Tênis Espostivos"
        >
        <mat-icon matSuffix>pin</mat-icon>
    </mat-form-field>

    <mat-form-field  class="fullWidth" appearance="fill">
        <mat-label>Descricao</mat-label>
        <input 
        [(ngModel)]="categorias.descricao"
        name="descricao"
        [disabled]="true"
        matInput 
        placeholder="Ex... Tênis Espostivos para corrida"
        >
        <mat-icon matSuffix>pin</mat-icon>
    </mat-form-field>

    <button routerLink="../../" mat-flat-button class="fullWidth" color="warn">Voltar</button>

    <p class="fullWidth">By World Of Sneakers</p>
</div>